:root {
  --piece-cell-size: 32px;
  --num-rows: 15;
  --num-columns: 10;
}

#game {
  height: calc(var(--piece-cell-size) * var(--num-rows));
  width: calc(var(--piece-cell-size) * var(--num-columns));
  border: 2px solid #AAA;
  margin: 0 auto;
  text-align: center;
  position: relative;

}

.piece-container, .piece-cell {
  position: absolute;
}

.piece-cell {
  width: var(--piece-cell-size);
  height: var(--piece-cell-size);
  background-color: #DDD;
  box-sizing: border-box;
  border: 4px solid #EEE;
}

#heading {
  text-align: center;
}

.game-title {
  font-size: 64px;
}

.instructions {
  margin-top: 50%;
}
